@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
body {
  font-family: Arial, sans-serif;
  color: #fff; 
  background-color: #181818;
  margin: 0;
  padding: 0;
}
    
.navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
        
.navbutton {
  padding: 10px 20px 10px 20px;
  background-color: #634A66;
  font: Arial, sans-serif;
  font-size: 15px;
  border-radius: 50px;
  color: #fff;
  margin: 0px 10px 0px 10px;
}

a {
  text-decoration: none;
}
        
.navigation button:hover {
  background: linear-gradient(to right, #007bff, #8a00ff);
}
        
.header {
  background: #181818;
  padding: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #9877A5;
}
.header h1 {
  color: #000;
  margin: 0;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.header img {
  width: 55px;
  height: auto;
  border-radius: 45%;
  margin-left: 10px;
}

#uploadform {
  box-shadow: 10px 10px 10px #634A667a;
}
